.full-screen-alert{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000a4;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen-alert .container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    width: 300px;
    height: fit-content;
    background-color: var(--glass-effect-transparent);
    padding: 8px;
    border-radius: 10px;
}

.full-screen-alert .container .buttons{
    width: 100%;
    display: flex;
    gap: 8px;
}