.notification-bubble{
    background-color: var(--hover-color);
    border-radius: 10px;
    padding: 10px;
    gap: 8px;
}

.notification-bubble .info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    opacity: 0.5;
}