.bottom-nav-bar {
  width: 100%;
  display: flex;
  align-items: end;
  position: fixed;
  left: 0;
  bottom: 0;
}

.bottom-nav-bar ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* background-color: red; */
  background-color: var(--background-color);
  padding: 16px 16px 32px 16px;
}

.bottom-nav-bar ul li {
  width: 50px;
  height: 50px;
  /* background: var(--primary-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.bottom-nav-bar ul li:hover {
  background-color: var(--primary-color);
}

.bottom-nav-bar ul li img {
  width: 30px;
}
