.login .desktop{
    display: block;
}

.login .mobile{
    display: none;
}

@media screen and (max-width: 767px) {
    
    .login .desktop{
        display: none;
    }

    .login .mobile{
        display: block;
    }

}