.profile .desktop{
    display: block;
}

.profile .mobile{
    display: none;
}

@media screen and (max-width: 767px) {
    
    .profile .desktop{
        display: none;
    }

    .profile .mobile{
        display: block;
    }

}