.mobile-profile .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 16px;
    padding-bottom: 104px;
}

.mobile-profile .container .main-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.mobile-profile .container .main-info div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--glass-effect);
    border-radius: 100px;
    padding: 10px;
}

.mobile-profile .container .fields{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.mobile-profile .container .fields .row{
    width: 100%;
    display: flex;
    gap: 8px;
}

.mobile-profile .container .fields .row input{
    width: 100%;
}

.mobile-profile .container .buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}