.mobile-register{
    background-image: url("../Assets/blur-logo.png");
    background-repeat: no-repeat;
    background-position: top;
    /* background-size: cover; */
}

.mobile-register .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.mobile-register .container .fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mobile-register .container button{
    width: 100%;
}