.nav-bar{
    width: 16.67%;
    padding: 16px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nav-bar ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 8px;
    cursor: pointer;
}

.nav-bar ul li:hover{
    background-color: var(--primary-color);
}

.nav-bar ul li img{
    width: 30px;
}

.nav-bar .notification{
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.nav-bar .notification:hover{
    background-color: var(--hover-color);
}

.nav-bar .notification img{
    width: 30px;
}