@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-weight: normal;
  font-size: 16px;
  font-family: "Hind", sans-serif;
}

:root {
  /* colors */

  --primary-color: #2e93e4;
  --hover-color: #1d5888;
  --background-color: #010810;
  --text-color: #eff8ff;
  --icons-color: #f5fbff;
  --glass-effect: #b2c7d8;
  --glass-effect-transparent: #141b25;
  --red-color: #d74444;
  --red-color-hover: #9f3030;
  --green-color: #5bca45;
  --table-color: #2772af;
  --yellow-color: #FFC100;

  /* fonts styles */
}

body {
  background: var(--background-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-color);
}

.negative-button {
  background-color: var(--red-color);
}

.negative-button:hover {
  background-color: var(--red-color-hover);
}

.input-fields {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--glass-effect-transparent);
  border: 1px solid var(--glass-effect);
  outline: none;
}

.input-fields::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

.selector {
  background-color: var(--glass-effect-transparent);
  border: 1px solid var(--glass-effect);
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}

.link:hover {
  color: var(--hover-color);
}

.mobile-title {
  font-size: 18px;
  font-weight: bold;
}

.mobile-subTitle {
  font-size: 16px;
  font-weight: 600;
}

.date {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
}


.loading{
  font-size: 18px;
  font-weight: 800;
}